name: Go

on:
  push:
    branches: [ flatcar-master ]
  pull_request:
    branches: [ flatcar-master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Build
      run: make

    - name: Test
      run: make test
      
